<h1>All Restaurants</h1>
  <% @restaurants.each_with_index do |restaurant, index| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
    <div class = "d-flex">
    <p>Address:  </p>
    <td><p class="card-text"><%= restaurant.address %></p></td>
    </div>
    <div class = "d-flex">
    <p>Phone Number:  </p>
    <td><p class="card-text"><%= restaurant.phone_number %></p></td>
    </div>
    <div class = "d-flex">
    <p>Category:  </p>
    <td><p class="card-text"><%= restaurant.category %></p></td>
    </div>
  <% end %>
  <div>
    <%= link_to 'Create new restaurant', new_restaurant_path %>
  </div>
